*.pyc
__pycache__/
db.sqlite3
config.json
generation_config.json
merges.txt
model.safetensors
special_tokens_map.json
tokenizer_config.json
vocab.json
tokenizer.json
training_args.bin
views.cpython-312.pyc